<?xml version="1.0"?>

<model>
  <name>imSAR NSP-3 SAR Sensor</name>
  <version>1.0</version>
  <sdf version="1.2">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdff</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Andrew Willis</name>
    <email>arwillis@uncc.edu</email>
  </author>

  <description>
    A 3D model for the imSAR NSP-3 SAR Sensor.
  </description>
</model>
