<?xml version="1.0"?>

<launch>
    <arg name="mav_name" default="default_fixedwing"/>
    <arg name="model" default="$(find georegistration_testbed)/xacro/$(arg mav_name)/$(arg mav_name).xacro"/>
    <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
    <arg name="pos_x" default = "0.0"/>
    <arg name="pos_y" default = "0.0"/>
    <arg name="pos_z" default = "1.0"/>
    <arg name="roll"  default = "0.0"/>
    <arg name="pitch" default = "0.0"/>
    <arg name="yaw"   default = "0.0"/>
    <arg name="enable_logging" default="false"/>
    <arg name="enable_ground_truth" default="true"/>
    <arg name="log_file" default="$(arg mav_name)"/>
    <arg name="enable_wind" default="true"/>
    <arg name="robot_namespace" default="/"/>
    <arg name="gazebo_namespace" default=""/>

    <!-- send the robot XML to param server -->
    <!--<param name="robot_description" command="$(arg model)" />-->
    <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    mav_name:=$(arg mav_name)
    gazebo_namespace:=$(arg gazebo_namespace)/gazebo
    robot_namespace:=$(arg robot_namespace)"
    />
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

    <arg name="pose_args" value="-x $(arg pos_x) -y $(arg pos_y) -z $(arg pos_z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_$(arg mav_name)" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description
         $(arg pose_args)
         -urdf
         -gazebo_namespace $(arg gazebo_namespace)/gazebo
         -robot_namespace $(arg robot_namespace)
         -model $(arg mav_name)"
          respawn="false" output="screen">
    </node>
</launch>
